.form-div{
    background-color: #111;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 100px;
    padding-bottom: 30px;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}
.form-div h1{
   font-size: 40px;
   color: #fff;
   margin-bottom: -15px;
   margin-left: 5px;
}
.form-submit{
    padding: 30px 50px;
    border: none;
    justify-content: center;
    border-bottom: 1px solid rgba(255 ,255 ,255 ,0.2);
}
.form-submit input{
    flex-grow: 1;
    border: none;
    color: #fff;
    background: rgba(255 ,255 ,255 ,0.1);
    padding: 10px 8px;
    font-size: initial;
}
.form-innerdiv button{
    margin-left:13px;
    border: none;
    font: 5px;
    margin: 6px;
    padding: 5px;
    background: none;
    cursor: pointer;
    color: #fff;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    transition: background 0.2s ease-out;
}
